body, html{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    width: 100%;
}
.background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(56, 49, 56, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.scrollable {
    overflow-y: auto;
    height: 100%;
}
/* Set the blur effect for the body except for the anlarged image */
body.blur > :not(.enlarged-image) {
    filter: blur(5px);
}
.search-container{
    display: flex;
    justify-content: center;
}

.search-text{
    color: white;
    margin-top: 1em;
    text-align: center;
}
h2{
    text-shadow: 2px 2px 5px rgb(46, 142, 157);
}
h1 {
    text-shadow: 2px 2px 5px rgb(238, 1, 1);
}

#searchInput{
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 1.2em;
}
input:focus::placeholder {
    color: transparent;
}
#submitInput{
    background-color: #ffffff;;
    color: black;
    border-left: 2px solid #5dafc5;
    padding: 10px;;
    margin-left: 2px;
    cursor: pointer;
    margin-left: 20px;
    max-width: 100px;
   
}
#submitInput:hover{
    font-weight: bold;
}


.box {
    display: flex;
    height: 10px;
    background-color:white;
    border-radius: 20px;
    align-items: center;
    padding: 20px;

}
.box > i{
    font-size: 20px;
    color: #010101;
}
.box > input{
    flex: 1;
    height: 40px;
    border: none;
    /* background: none; */
    outline: none;
    font-size: 18px;
    margin-left: 10px;
    
}
.loading,
.error,
.noInput {
    text-align: center;
    margin-top: 1em;
    display: none;
    color: rgb(241, 148, 148);
}

.target{
    column-count: 5;
    column-gap: 2em;
    margin-right: 3em;
    margin-left: 2em;
    margin-top: 25px;
    
}

.target > figure{
    margin-left: 0.1em;
    width: 100%;
   
    
}
figure img{
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(137, 141, 141, 0.5);
    filter: grayscale(100%);
    transition: filter 0.2s ease-in-out;
    padding: 0.3em;
}

.target img:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(23, 88, 121, 0.5);
    filter: grayscale(0%);

}
/* Styling clicked image containers*/
.enlarged-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 22, 24, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    /* make sure enlarged image is on top of everything */
    z-index: 1;
    filter: grayscale(0%);
    
}
.enlarged-image .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
    overflow-y: auto;
    height: 100%;
    margin-top: 30px;
}

.enlarged-image img {
    max-width: 60vw;
    max-height: 60vh;
    object-fit: contain;
    border: 1px solid rgba(32, 177, 245, 0.19);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(7, 45, 57, 0.2),
        0 6px 20px 0 rgba(32, 177, 245, 0.19);
    
}
.enlarged-image .caption {
    max-width: 80%;
    margin-top: 0.5em;
    font-size: 1em;
    color: white;
    text-align: center;
}


/* Styling the footer */
footer{
    position: fixed;
    bottom: 0;
   
}
li{
    font-size: 13px;
}

footer ul{
    list-style-type: none;
    padding: 5px;
}
footer a:link{
    color: rgb(66, 102, 165);
    text-decoration: none;
}
footer a:visited{
    color: rgb(127, 212, 168);
    text-decoration: none;
}
footer a:hover{
    color: rgb(189, 68, 68);
    text-decoration: none;
}
footer a:active{
    color: rgb(28, 138, 138);
}
footer p{
    background-color: rgb(0, 0, 0);
    color: white;
    margin-left: 5px;
    font-size: 16px;
    text-shadow: 2px 2px 5px rgb(52, 53, 5);
}

/* Rocket animation */
@keyframes fly-rocket {
    from {
        transform: translateX(-100px) rotate(90deg);
    }

    to {
        transform: translateX(3000px) rotate(90deg);
    
    }
}

.rocket {
    animation-name: fly-rocket;
    animation-duration: 25s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.rocket-container{
    overflow-x: hidden;
}

/* Responsive navigation */
@media screen and (max-width: 1200px) {
    .target {
        column-count: 4;
    }
}

@media screen and (max-width: 1100px) {
    .target {
        column-count: 3;
    }

    .target img {
        filter: grayscale(0%);
    }
}

@media screen and (max-width: 800px) {
    .target {
        column-count: 2;
    }

    .target img {
        filter: grayscale(0%);
    }
    footer p {
        background-color: transparent;
    }
}

@media screen and (max-width: 500px) {
    .target {
        column-count: 1;
    }

    .target img {
        filter: grayscale(0%);
    }
    footer p{
        background-color: transparent;
    }
}


